body{
  width, height: 100%;
  margin: 0;
  background-color: lightyellow;
}

#viz{
  background-color: #0f4c81;
  margin-left: 12%;
  margin-top: 1%;
}

#info{
  position: absolute;;
  top: 50px;
  margin-top: 0;
  margin-left: 200px;
  font-family: Rockwell;
  color: #0f4c81;
}

p {
  margin-bottom: 75px;
}
